.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar{
  display:grid;
  align-items: center;
  grid-template-columns: 15% 70% 15%;
  background-color:red;
  color:white;
}
.Nav-links{
  grid-column:3/4;
  display:grid;
  grid-template-columns: 1fr 1fr;
  
}
.about-page{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: red;
 align-items: center;
 justify-items: center;
}
.about-details{
  grid-column: 2/3;
  background-color: pink;
 
}
.about{
  background-color: black;
}
.search-form{

text-align: center;
margin-top:25px;
margin-bottom:25px;
}
#search-bar{
  width:350px;
  height:20px
}
.home-page{
  /* background-color: black; */
}

.video-card{
  border:1px solid black;
  border-radius: 17px;
}
.videos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  margin-top: 50px;
}
.categories{
  text-align: center;
  display:inline-block;
  float:right;
  margin-right:25px;
  padding-right: 25px;
  flex-wrap: wrap;
  

  
}
.thumb{
  width: 100%;
  border-radius: 17px;
}